
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{heroe.superhero}}</mat-card-title>
            <mat-card-subtitle>{{heroe.alter_ego}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image [src]="heroe | imgUrl" alt="heroe.superhero">

        <mat-card-content>
            <h3>{{heroe.publisher}}</h3>
            <p>
                <strong>Primera apararicion </strong> {{ heroe.first_appearance }}
            </p>
            <br>
            <strong>Personajes: </strong>{{ heroe.characters }}
        </mat-card-content>

        <mat-card-actions>
            <button [routerLink]="['/heroes', heroe.id]"
            mat-button
            color="warn">
                leer mas...
            </button>

            <button [routerLink]="['/heroes/editar', heroe.id]"
            mat-button
            color="info">
                Editar
            </button>
        </mat-card-actions>
    </mat-card>